@using System.Configuration

@{
    var configMode = "RELEASE";
#if DEBUG
    configMode = "DEBUG";
#endif
    }

<footer class="footer">
    <div class="container">
        <p>
            <strong>Configuration: </strong>@configMode
        </p>
    </div>
</footer>